<div style="text-align: center;">
    <h1 style="font-size: 100px; margin-top: 50px; margin-bottom: 30px;">簡単日報</h1>
    <p style="margin: 8px;">簡単日報はアプレンティス生のための日報投稿アプリです</p>
    <p style="margin: 8px;">楽しく日報を投稿していきましょう</p>
    <a href="#" style="text-decoration: none; color: white; margin-top: 30px; margin-bottom: 15px; display: inline-block; border-radius: 4px; background-color: #e8b615; font-size: 16px; padding: 16px 24px;">新規登録はこちら</a>
    <p>もしくは</p>
    <a href="#" style="margin-top: 15px; text-decoration: none; color: white; display: inline-block; border-radius: 4px; background-color: #e8b615; font-size: 16px; padding: 16px 24px;">ログインはこちら</a>
</div>
