<div class="profile">
    <img src="https://tadworks.jp/wp-content/uploads/2020/08/profile_icon.png">
    <div class="profile-content">
        <h2>ユーザーネーム</h2>
        <p>example@example.com</p>
    </div>
</div>
<div class="my-journals">
    <div class="container">
        <div class="my-journals-title">
            <h1>過去の投稿</h1>
        </div>
        # each文にする
        <div class="my-journal">
            # 日報の中身
        </div>
    </div>
</div>