<div class="title">
    <div class="container">
        <h1>アワード一覧</h1>
    </div>
</div>
<div class="main-wrapper">
    <div class="container">
        <!-- each文でアワードを入れるのもあり -->
        <% @awards.each do |award| %>
            <div class="one-award">
                <div class="award-title">
                    <p><%= award %></p>
                </div>
                <div class="award-bool">
                    <img src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
                </div>
            </div>
        <% end %>
    </div>
</div>