<div class="title">
    <div class="container">
        <h1>アワード一覧</h1>
    </div>
</div>
<div class="main-wrapper">
    <div class="container">
        <!-- each文でアワードを入れるのもあり -->
        <div class="one-award">
            <div class="award-title">
                <p>初めての日報</p>
            </div>
            <div class="award-bool">
                <img src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
            </div>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p>2回目の日報</p>
            </div>
            <div class="award-bool">
                <img src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
            </div>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p>振り返りの文字数が100文字を超える</p>
            </div>
            <div class="award-bool">
                <img src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
            </div>
        </div>
        <div class="one-award">
            <div class="award-title">
                <p>10時間以上勉強</p>
            </div>
            <div class="award-bool">
                <img src="https://www.bezybox.net/sozai/wp-content/uploads/2020/05/medal-icon01_1200x630.png" alt="">
            </div>
        </div>
    </div>
</div>